body {
  background-color: #9999;
}

.heading {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  margin: 20px auto 40px;
}

.reg-text {
  font-family: 'Open Sans', sans-serif;
}

#power-saving-mode {
  color: red;
}

.low-usage {
  color: green;
}

.mid-usage {
  color: orange;
}

.high-usage {
  color: red;
}


.btn-resize {
  width: 150px;
  height: 40px;
}

.btn-cntroller {
  width: 50px;
  height: 50px;
}
