body {
  margin: 50px auto;
}

.low-usage {
  color: green;
}

.mid-usage {
  color: orange;
}

.high-usage {
  color: red;
}

h1, .h1{
  font-family: 'Pacifico', cursive;
}

h2, h3, h4, h5, .h2, .h2, .h3, .h4, .h5 {
  font-family: 'Open Sans', sans-serif;
}

#current-city {
  display: inline-block;
  max-width: 250px;
}

.btn {
  display: inline-block;
}

.btn-size {
  width: 150px;
  height: 40px;
}

.btn-cntroller {
  width: 50px;
  height: 50px;
}
